/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brawler', serif;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 130px;
        padding-top: 10px;
        padding-bottom: 10px;
    background-color: #F7E8DC;
}

.header-left {
    display: inline-flex;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.logo {
    height: 100%;
    padding: 0.5rem 0;
    object-fit: contain;
}

.idosos-logo {
    height: 100%;
    object-fit: contain;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

/* Menu */
.menu-top {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-top nav {
    color: #3A2A1F;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: default;
}

.menu-top a {
    text-decoration: none;
    color: #3A2A1F;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-top a:hover {
    color: #555;;
}

.menu-top nav span {
    color: #3A2A1F;
    font-size: 2rem;
}

/* Email e telefone */
.contact-info {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.contact-itens {
    color: #3A2A1F;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.2rem;
}

.icon { 
    height: 40px;
    width: auto;
    margin: 0 5px;
    vertical-align: middle;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.button-div {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.social-media {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.social-icon {
    height: 40px;
    width: auto;
    margin: 0 5px;
    vertical-align: middle;
}

.contact-button {
    background-color: #3A2A1F;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #555;
}

body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
}

main {
    text-align: center;
}

/* Seção de destaque */

.hero-section {
    box-sizing: border-box;
    border: 5px solid #3A2A1F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35.45rem;
    background-color: #FFFFFF;

}

.hero-section-strong {
    font-size: 3.12rem;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    color: #C44E28;
}

.hero-section-text {
    font-size: 2.5rem;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    color: #C44E28;
    width: 50.4rem;
    height: 24.3rem;
}